.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 64px;
}
.materialboxed-image{
    margin: 0 auto;
    height: 400px;
}
.main-body{
    background-color: #F28487;
    color: white;
    height:calc(100vh - 64px);
}
.click-me-button{
    background-color:#EE6E73;
    margin-top: 30px
}